<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="vue-app">
        <h1>Looping</h1>
        <!-- 
            v-for => loops through array outputting each item. Item may be enclosed in li, div, etc. 
            Outputs element which contains v-for as attr. for each item.
            To prevent it use <template> tag.
        -->
        <ul>
            <li v-for="character in characters">{{ character }}</li>
        </ul>
        <ul>
            <li v-for="(ninja, index) in ninjas">{{ index + 1 }} . {{ ninja.name }} - {{ ninja.age }}</li>
        </ul>
        <template v-for="(ninja, index) in ninjas">
            <h3>{{ index }} . {{ ninja.name }}</h3>
            <p>{{ ninja.age }}</p>
        </template>
        <!-- Looping through obj. -->
        <template v-for="ninja in ninjas">
            <div v-for="(val, key) in ninja">
                <p>{{ key }} - {{ val }}</p>
            </div>
        </template>
    </div>
    <script src="app.js"></script>
</body>

</html>